.centerContent {
  width: 1200px;
  margin: 0 auto;
}

.services__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #333333;
  margin-top: 150px;
}

.services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.services__flex__box {
  width: 350px;
  padding: 50px 10px 150px 10px;
}

.services__flex__box__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.services__flex__box__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  padding: 30px 0 20px 0;
}

.services__flex__box__text1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #828282;
}
