.centerContent {
  width: 1200px;
  margin: 0 auto;
}

.ourpartner {
  max-width: 1920px;
  width: 1300px;
  margin: 0 auto;
}

.ourpartner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0;
}

.ourpartner .img {
  height: 470px;
}

.ourpartner .text {
  padding-left: 100px;
}

.ourpartner .text1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #333333;
  padding: 10px;
}

.ourpartner .text2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #828282;
  padding-bottom: 30px;
}

.ourpartner .bttn {
  padding: 30px 45px;
  background-color: #2f80ed;
  border-radius: 1000px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  color: white;
}
.s {
  color: white;
  text-decoration: none;
}
